<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApplication">
        <activity
            android:name=".activities.customer.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.CustomerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.CustomerRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.grocery.MainActivityG"
            android:exported="false" />
        <activity
            android:name=".activities.grocery.editGroceryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.grocery.addGroceryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.grocery.GManagerLogin"
            android:exported="true" />
        <activity
            android:name=".activities.grocery.GManagerRegActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.bakery.AddBakeryItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pharmacy.editPharmacyItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pharmacy.addPharmacyItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pharmacy.MainActivityPH"
            android:exported="false" />
        <activity
            android:name=".activities.pharmacy.PHManagerRegActivity"
            android:exported="false" />
        <activity
            android:name=".activities.pharmacy.PHManagerLogin"
            android:exported="true" />
        <activity
            android:name=".activities.ManagerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>